<%= form_for(@message, html: {class: "form-horizontal"}) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <label class="control-label col-md-2">名前 :</label>
	  <div class="col-md-6">
      <%= f.text_field :name, class: "form-control" %>
	  </div>
  </div>
  <div class="form-group">
      <label class="control-label col-md-2">年齢 :</label>
	  <div class="col-md-2">
      <%= f.text_field :age, class: "form-control" %>
	  </div>
  </div>
  <div class="form-group">
      <label class="control-label col-md-2">内容 :</label>
	  <div class="col-md-6">
      <%= f.text_area :body, class: "form-control" %>
	  </div>
  </div>
  <div class="form-group">
      <%= f.submit class: "btn btn-lg btn-primary col-md-4 col-md-offset-2" %>
  </div>
<% end %>